table {
  width: 100%;
}

#controls {
  display: grid;
  grid-template-columns: 1fr 260px;
  gap: 20px;

  mat-form-field {
    font-size: 14px;
    width: 100%;
  }


  button {
    height: 48px;
    margin-top: 4px;
    width: 250px;
  }
}

#add-user{
  float: right;
  background-image: linear-gradient(120deg, #138a30 0%, #00c774 100%);
}
