button {
  background: linear-gradient(45deg, #FCA311, #FF2525);
  padding: 5px 60px;
  color: #F5F4F2;
  border-radius: 30px;
  text-transform: uppercase;
  text-align: center;
  width: 200px;
}

#toggles {
  display: grid;
  grid-template-columns: 1fr 1fr;

  div {

    height: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  box-sizing: border-box;
}

#login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  button:disabled {
    background: #dddddd;
  }

}

#error {
  padding: 10px;
  border: 1px solid #fe4f4f;
  border-radius: 4px;
  font-weight: 500;
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: gelatine 0.5s;
  margin-bottom: 10px;

  mat-icon {
    color: #fe4f4f;
    margin-right: 15px;
  }
}

.txt-btn {
  margin-top: 16px;
  text-decoration: underline;
  font-weight: 600;
  align-items: center;
  cursor: pointer;
}
@keyframes gelatine {
  from, to { transform: scale(1, 1); }
  25% { transform: scale(0.9, 1.1); }
  50% { transform: scale(1.1, 0.9); }
  75% { transform: scale(0.95, 1.05); }
}
small {
  text-align: center;
}

.active {
  background: #FCA311;
}

mat-form-field {
  width: 100%;
  font-size: 14px;
}
